<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="esp"></div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024
    Designed By <a class="text-body" href="http://www.achrafladhari.c1.biz">Achraf BEN CHEIKH LADHARI</a> & <a class="text-body" href="http://www.achrafladhari.c1.biz">Louey DENDEN</a>
  </div>
  <!-- Copyright -->
</footer>