<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Commandes
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_orders_show') }}">Afficher Commandes</a></p>
        </div>
    </article>
     <article class="card mb-3">
        <div class="card-header">
            Profile
        </div>
        <div class="card-body">
            <p><a href="{{ path('profile_edit') }}">Modifier Profile</a></p>
        </div>
    </article>
    </article>
</aside>