{% extends "base.html.twig" %}

{% block title %}Administration admin {% endblock %}

{% block body %}
    <div class="container">
        <section class="row">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
            <div class="col-12">
                <h1>Modifier admin </h1>
                {% include "admin/users/_form.html.twig" with {'button_label': 'Modifier'} %}
            </div>
        </main>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/images.js') }}" defer></script>
{% endblock %}